# .Gitignore

*~
*.log
/auto/

*.tgz
nrkey
snapshots
bin
modules
components
env
*.bin
nuweb/auto/
nuweb/*.aux
nuweb/*.bbl
nuweb/*.blg
nuweb/*.idx
nuweb/*.ilg
nuweb/*.ind
nuweb/outline.org

nuweb/*.out
nuweb/*.tex
nuweb/*.toc
nuweb/e_nlpp.w
nuweb/m4_e_nlpp.w
nuweb/w2html
nuweb/.fuse*
.fuse*
test.*

